<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add hall</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/stylee.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/fs.css'%}" type="text/css">
</head>
<body>
    <header class="header">
        <span class="header_title">Add hall</span>
    </header>

    <main>
        <section class="add_exhibition">
            <div class="container add_exhibition_container">
                <form action=" " method="post" class="add_exhibition_form form">
                    {% csrf_token %}
                    <ul class="list-reset form_list">
                        <li class="form_item">
                            <p class="form_title">Номер зала</p>
                             {{ form.hall_number }}
                        </li>
                        <li class="form_item">
                            <p class="form_title">Название</p>
                             {{ form.title }}
                        </li>
                    </ul>
                    <button type="submit"  class="btn input_btn btn-reset">Сохранить</button>
                    {{ form.errors }}
                </form>
                <a href="../" class="btn btn-reset btn-back">Назад</a>
            </div>
        </section>
    </main>
</body>
</html>